*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body{
    background: #fff;
}
.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.7);
    z-index: 1;

}

.navbar{
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  
}
.navbar ul li a{

  margin-right: 50px;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    
}
.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.w-100{
    height: 100vh;
}

.logo{
    width: 150px;
}

.btn{
  background-color: green;
  padding: 9px 10px;
  border-radius: 5px;
  border: 1px solid green;
  transition: 0.5s;
  color: #fff;
}

.carousel-item .color{
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid green;
    transition: 0.5s;
}
.carousel-item .color:hover{
    background-color: green;
    
}
.carousel-item a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#3bb77e, #3bb77e);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #3bb77e;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
    }

    input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    }


@media only screen and (min-width: 768px) and (max-width: 991px){
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p{
        width: 100%;
    }
    .card{
        margin-bottom: 30px;
    }
    .img-area img{
        width: 100%;
    }
   
}
@media (max-width: 767px) {
  .visit-country .item .right-content .main-button a {
    font-size: 14px;
    padding: 12px 15px;
    bottom: 40;
  }
  .main-button a {
    text-align: center;
  }
 
  .visit-country .item .right-content ul li {
    width: 30%;
  }
  .visit-country .item .right-content h4 {
    margin-top: 20px;
  }
  .visit-country .item .image img {
    border-radius: 23px;
    width: 500px;
   
  }
}

.visit-country {
    margin-top: 120px;
  }
  
  .visit-country .side-bar-map {
    margin-left: 30px;
  }
  
  .visit-country .item {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
  }
  
  .visit-country .last-item {
    border-bottom: none;
  }
  
  .visit-country .item .image img {
    border-radius: 23px;
    width: 100%;
  }
  
  .visit-country .item .right-content h4 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .visit-country .item .right-content span {
    font-size: 15px;
    color: #afafaf;
    display: block;
  }
  
  .visit-country .item .right-content .main-button a {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .visit-country .item .right-content .main-button a:hover {
    background-color: transparent;
    border-color: green;
    color: #000;
    opacity: 0.8;
  }
  
  .visit-country .item .right-content p {
    margin: 18px 0px;
  }
  
  .visit-country .item .right-content ul {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px 0px;
  }
  
  .visit-country .item .right-content ul li {
    display: inline-block;
    width: 32%;
    color: #afafaf;
    font-size: 14px;
  }
  
  .visit-country .item .right-content ul li:nth-child(2) {
    text-align: center;
  }
  
  .visit-country .item .right-content ul li:last-child {
    text-align: right;
  }
  
  .visit-country .item .right-content ul li i {
    margin-right: 5px;
    font-size: 16px;
  }
  
  .visit-country .item .right-content .text-button {
    margin-top: 20px;
  }
  
  .visit-country ul.page-numbers {
    text-align: center;
  }
  
  .visit-country ul.page-numbers li {
    display: inline-block;
    margin: 0px 5px;
  }
  
  .visit-country ul.page-numbers li a {
    display: inline-block;
    width: 46px;
    height: 46px;
    border: 1px solid #22b3c1;
    line-height: 44px;
    color: #22b3c1;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50%;
    transition: all .3s;
  }
  
  .visit-country ul.page-numbers li a:hover {
    background-color: transparent;
    color: #fff;
  }
  
  .visit-country ul.page-numbers li.active a {
    background-color: #22b3c1;
    color: #fff;
  }
  
  .visit-country ul.page-numbers li:first-child a,
  .visit-country ul.page-numbers li:last-child a {
    border: none;
  }
  .text-button a{
    color: green;
  }
  .main-button a{
    background-color: green;
    padding: 12px 20px;
    border-radius: 50px;
    border: 1px solid green;
    transition: 0.5s;
    text-decoration: none;
    color: #fff;
    position: relative;

  }
.right-content h4{
    font-weight: 700;
    color: #2a2a2a;
}
.right-content, p, span{
    color: #afafaf;
}
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #1977cc;
  float: left;
  width: 44px;
  height: 44px;
  background: #d6e9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2c4964;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #4b7dab;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2c4964;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

#services{
    background-image: linear-gradient(rgba(29, 131, 26, 0.89),rgba(55, 141, 44, 0.781)), url(../images/banner-2.png);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#services h2{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}
#services h2::after{
    content: '';
    background: white;
    display: block;
    width: 150px;
    height: 3px;
    margin: 10px auto;
}

.services .card-body i{
    font-size: 50px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 100px;
}
.services .col-md-4:hover{
    box-shadow: 5px 7px 9px -3px rgba(255,255,255,0.5);
    cursor: pointer;
}
 .class{
    background: green;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
}

.list-container{
    margin-top: 90px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-col{
    flex-basis: 70%;
}

.right-col{
    flex-basis: 25%;
}
.left-col h1{
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}
.house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}
.house-img{
    flex-basis: 40%;
}

.house-info{
    flex-basis: 58%;
    color: #555;
}
.house-img img{
    width: 100%;
    border-radius: 12px;
}
.house-info h3{
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}
.house-info i{
    color: green;
    font-size: 18px;
    margin: 10px 1px;
}

.house-price{
    text-align: right;
}
.house-price h4{
    font-size: 20px;
}
.house-price h4 span{
    font-size: 16px;
    font-weight: 500;
}

.sidebar{
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
}
.sidebar h2{
    font-weight: 500;
}
.sidebar h3{
    font-weight: 500;
    margin: 20px 0 10px;
}
.filter{
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}
.filter p{
    flex: 1;
}
.filter input{
    margin: 15px;
    cursor: pointer;
}

.sidebar-link{
    text-align: right;
    margin: 20px 0;
}
.sidebar-link a{
    text-decoration: none;
}
.properties .item {
    background-color: #fafafa;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .properties .item img {
    border-radius: 10px;
  }
  
  .properties .item span.category {
    background-color: green;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    padding: 5px 12px;
    display: inline-block;
    margin-top: 25px;
  }
  
  .properties .item h4 {
    font-size: 19px;
    margin: 25px 0px;
  }
  
  .properties .item h4 a {
    color: #1e1e1e;
  }
  
  .properties .item ul li {
    display: inline-block;
    font-size: 15px;
    color: #4a4a4a;
    margin-right: 20px;
  }
  
  .properties .item ul li span {
    font-weight: 600;
    color: #1e1e1e;
  }
  
  .properties .item ul {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  
  .properties .item h6 {
    font-size: 20px;
    color: green;
    margin-top: 6px;
    display: inline-block;
    
    margin-top: 30px;
  }
  
  .properties .item .main-button {
    text-align: center;
  }
  .page-heading {
    background-image: url(../images/banner-2.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0px;
    text-align: center;
  }
  
  .page-heading span {
    background-color: green;
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 25px;
    display: inline-block;
    margin-bottom: 30px;
  }
  
  .page-heading span a {
    color: #fff;
  }
  
  .page-heading h3 {
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
  }  

#contacts{
    background-color: rgb(5, 58, 5);
}
#contacts h2{
    color: #fff;
    font-weight: bold;
}
#contacts p{
    color: #fff;
    
}
.hello{
  background-color: rgb(5, 58, 5);
}
hr{
  background-color: #fff;
  width: 100%;
  height: 5px;
}
.shop-product{
     border: 1px solid #d0d0d0;
    padding: 20px 30px;
    margin-top: 30px;
    border-radius: 20px;
}
.shop-product .card{
    border: 1px solid #d0d0d0;
    padding: 20px 30px;
    margin-top: 30px;
}
.shop-product .card ul li a{
  text-decoration: none;
  color: green;
}
@media only screen and (max-width: 1284px) {
  .carousel-caption{
    bottom: 200px;
}
}
/* Media query for Galaxy S9 and similar devices */

@media only screen and (max-width: 767px){
.navbar-nav{
    text-align: center;
}
.carousel-caption{
    bottom: 350px;
}
.carousel-caption h5{
    font-size: 30px;
}
.carousel-caption a{
    padding: 10px 15px;
}

.carousel-caption p{
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
    margin-bottom: 10px;
}

.about-text{
    padding-top: 50px;
}
.card{
    margin-bottom: 30px;
}
}



/* details page */

.house-details{
  padding: 0 12%;
}
.house-title{
  margin-top: 80px;
}
.house-title h1{
  font-weight: 600;
  color: #000;
}
.house-title .row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0;
}
.house-title span{
  margin: 0 20px;
  color: #000;
}
.house-title i{
  color: green;
  font-size: 14px;
}
.gallery{
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'first first . .' 'first first . .';
  margin: 20px 0;
}
.gallery div img{
  width: 100%;
  display: block;
  border-radius: 10px;
}
.gallery-img-1{
  grid-area: first;
}
.small-details h2{
  font-weight: 500;
}
.small-details h4{
  text-align: right;
  font-size: 22px;
}
.line{
  border: 0;
  height: 1px;
  background: #ccc;
  width: 100%;
  max-width: 800px;
  margin: 20px 0 50px;
}

.check-form{
  margin: 30px 0;
  background: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 50px;
}
.check-form label{
  display: block;
}
.check-form div{
  padding: 20px;
}
.check-form input{
  background: transparent;
  border: 0;
  outline: none;
}
.check-form button{
  background: green;
  border: 0;
  outline: none;
  color: #fff;
  padding: 18px;
  width: 250px;
  border-radius: 8px;
  font-size: 16px;
}
.guest-field{
  flex: 1;
}

.details-list{
  list-style: none;
  margin: 50px 0;
}

.details-list li{
  margin-left: 50px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #555;
  position: relative;
}
.details-list li span{
  display: block;
  font-weight: 400;
  font-size: 16px;
}
.details-list li i{
  position: absolute;
  top: 5px;
  left: -40px;
}

.home-desc{
  max-width: 700px;
  margin-bottom: 50px;
}
.map{
  margin: 50px 0;
}
.map iframe{
  width: 100%;
  margin-bottom: 30px;
}
.map h3{
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 30px;
}
.map b{
  display: block;
  margin-bottom: 16px;
}
.host{
  display: flex;
  align-items: center;
}
.host img{
  width: 80px;
  border-radius: 50%;
  margin-right: 30px;
}
.host h2{
  margin-bottom: 10px;
  font-weight: 500;
}
.host i{
  color: green;
}
.contact-host{
  display: inline-block;
  margin: 40px 0 40px 120px;
  text-decoration: none;
  color: #555;
  padding: 15px 50px;
  border: 1px solid green;
  border-radius: 8px;
}
/*--- media query for house details page---*/
@media only screen and (max-width: 700px){
  .house-details{
      margin-top: 150px;
  }
  .row p{
      margin-top: 10px;
  }
  .gallery{
      grid-template-areas: 'first first' '. .' '. .';
  }
  .small-details h2{
      font-size: 20px;
      margin-top: 24px;
  }
  .small-details h4{
      text-align: left;
      margin: 10px 0;
      font-size: 18px;
  }
  .check-form{
      padding: 10px 30px;
  }
  .check-form div{
      padding: 20px 0;
      width: 100%;
  }
  .check-form input{
      border-bottom: 1px solid #ccc;
      width: 100%;
      padding-bottom: 5px;
  }
  .check-form button{
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 15px;
      border-radius: 4px;
  }
  .host{
      display: block;
      line-height: 28px;
  }
  .contact-host{
      margin: 40px 0;
  }
}